<!DOCTYPE html>
<html>
	<head> 
	    <title>Django's Server-Side XSS Test</title>

	    <style type = "text/css">
	        body {
	          background-color: #EEEEEE;
	          position: relative;
	          left: 250px;
	          overflow: scroll;
	        }
	        li {
	          font-weight: bold;
	        }
		</style>
		
		<script language = "javascript">
			function showText(arg) {
				document.getElementById("q").value = arg.value;
			}
		</script>
	</head>
<body>
		<h3>Django's XSS Server-Side Test</h3>
		<h4><font color = "green">If the programmer writes an XSS...</font></h4>

		<form action = "" method = "get">
		    <input type = "text" name = "q" size = 100><br/>
		    <input type = "submit" value = "submit">
		</form>
				
<!-- Buttom-->
<hr/>
<span>Author: jz33@rice.edu</span><br/>
<span>References: </span><br/>
<ol>
<li><a href= "https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet#XSS_Locator">OWASP XSS Filter Evasion Cheat Sheet</a></li>
<li><a href= "http://owasp-esapi-python-swingset.appspot.com/xss/django">OWASP ESAPI SwingSet Sheet</a></li>
</ol>
</body>
</html>